:root {
    --primary: #CAF0F8;
    --secondary: #023E8A;
    --darkprimary:black;
}
* {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 20px;
}
body{
    background-color: var(--primary);
}

@media screen and (max-width:500px) {
    *{
        font-size: 15px;
    }
}